Repository Borales/tt: changes, and which Codecov flags are due for each by the changed paths.
All: a, b

codecov flags
  packages/a/package.json
  packages/b/package.json
Due: a, b

codecov projects
  codecov.yml
  packages/a/package.json
  packages/b/package.json
Due: a, b

test
  packages/b/src/index.js
Due: b

project
  codecov.yml
Due: none

cov
  packages/b/src/index.js
Due: b

fixing tests
  packages/b/src/index.test.js
Due: b

codecov
  codecov.yml
  package.json
  packages/a/package.json
  packages/b/package.json
Due: a, b

codacy coverage
  package.json
  packages/a/package.json
  packages/b/package.json
Due: a, b

debug
  packages/b/package.json
Due: b

codacy
  packages/a/package.json
  packages/b/package.json
Due: a, b

test
  packages/a/package.json
Due: a

Update azure-pipelines.yml
  azure-pipelines.yml
Due: none

Path conditions:
  a: any of: packages/a
  b: any of: packages/b
